:root {
    --bg: rgb(45, 45, 45);
    --txt-color: rgba(255, 255, 255, 0.699);
    --card: rgba(255, 72, 0, 0.74);
}

body {
    background-color: var(--bg);
}

h1 {
    color: var(--txt-color);
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.card {
    position: absolute;
    left: 20%;
    background: var(--card);
    width: 60%;
    height: 35%;
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.1rem;
}

.question {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.wrapper {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.btn {
    background: var(--txt-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.4rem 0.1rem;
}

.btn:hover {
    background-color: var(--bg);
    color: var(--txt-color);
}

.decision-analysis {
    position: relative;
}

.correct {
    position: absolute;
    transform: translateY(15px);
}

.incorrect {
    position: absolute;
}

.score {
    color: var(--txt-color);
}

.timer {
    color: var(--txt-color);
}

.card[data-status="active"] {
    transition-delay: 300ms;
}

.card[data-status="unknown"] {
    transform: scale(0);
}
/* 
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
} */